@{
    ViewData["Title"] = "Details";
}
<link href="~/css/details.css" rel="stylesheet"/>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="./img/one-piece-2-horizontal-copia.jpg" alt="" class="img-fluid">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <h1>Vua hải tặc</h1>
                    </div>
                    <div class="content">
                        <span class="content-genre">
                            <b>Thể loại:&nbsp;</b>Hoạt hình
                        </span>
                        <span class="content-rate">
                            <b>Điểm đánh giá:&nbsp;</b>7.03
                        </span>
                        <span class="content-description">
                            <b>Mô tả:&nbsp;</b>One Piece là bộ truyện tranh dành cho thiếu niên của tác giả nổi tiếng Oda Eiichiro. Bộ manga này được chuyển thể thành một series anime nhiều tập hài hước, đặc sắc. Phim Đảo Hải Tặc mở đầu câu chuyện bằng cảnh xử tử vua hải tặc Gol D. Roger. Trước khi chết ông đã tiết lộ rằng mình có một kho báu...
                        </span>
                    </div>
                    <div class="rating">
                        <a class="btn btn-primary" href="#" role="button">Đánh giá</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="cmt-title">
                        <h2>Bình luận:</h2>
                    </div>
                    <div class="comment">
                        <div class="comment-item">
                            <span><b>Nguyễn Văn Tuấn:</b>&nbsp;Phim hay!</span>
                        </div>
                        <div class="comment-item">
                            <span>
                                <b>Nguyễn Văn Tuấn:</b>&nbsp;Vivo V23e mang đến cho người dùng sức mạnh vượt trội do được trang bị con chip MediaTek G96. Đây là con chip được sản xuất trên tiến trình 7nm kết hợp với 8 nhân xử lý đến 2.4 GHz, mang đến tốc độ vận hành mượt mà, nhanh chóng đáp ứng tối đa nhu cầu làm việc đa nhiệm lẫn khả năng chơi game hiệu quả.
                                Hỗ trợ cho hiệu năng đó là mức RAM 8 GB. Người dùng có thể mở rộng RAM thêm 4GB, giúp cho smartphone thực hiện công việc đa nhiệm mượt mà, hiệu quả và không giật lag. Dung lượng ROM lên tới 128 GB cũng tạo nên không gian lưu trữ cực khủng cho hình ảnh, ứng dụng và tài liệu.
                            </span>
                        </div>
                        <div class="comment-item">
                            <span><b>Nguyễn Văn Tuấn:</b>&nbsp;Phim hay!</span>
                        </div>
                        <div class="comment-item">
                            <span><b>Nguyễn Văn Tuấn:</b>&nbsp;Phim hay!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

